*{margin:0; padding:0; border-collapse: none;box-sizing: border-box; color:#333;font-weight: lighter;font-family: "Jersey 10", sans-serif;}
::-webkit-scrollbar {
    display: none;
}
html{scroll-behavior: smooth}
body{
    background: #2413AB;
}
.flex{display: flex; flex-wrap: wrap;}
.btw{display: flex;justify-content: space-between;}
.h{height:10vh}
.hh{height:5vh}
.b{border:1px solid black}
a{text-decoration: none;cursor: pointer;}
ul{list-style: none;}

.box{left:50%;position: absolute;transform: translate(-50%,-50%);top:40%;text-align: center;width:40%;height:50%}
.log h2{ font-size:8em;color:#B1F8D6;text-shadow: 0 0 10px #D0527A;}
.log p{font-size:2em;color:#D0527A;}
.log input{width:100%;height:50px;background:white;border:none;margin:5px 0 20px 0;font-size:1.5em;text-indent: 20px;border-radius: 50px;}

.log button{
    background:#D54BFB;color:white;
    width:100%;height:50px;
    border:none;font-size:1.2em;
    box-shadow: 10px 10px 0 3px #2E0B61;
}

.log button:hover{margin: 10px; box-shadow: none ;}


/* chat */
.tp{height:55px;padding:10px;position: fixed;top:0;background:#2413AB;width:100%;z-index: 10;margin-bottom:55px;text-align: center;}
.tp h2{font-size:4em;color:#B1F8D6;text-shadow: 0 0 10px #D0527A}

.chat-area{
    width:50%;position: absolute;transform: translate(-50%,0%);left:50%;top:10vh;height:75vh; overflow-y: auto;
}

.chat{
    margin:10px;padding:10px;
    display: inline-block;
    min-height:50px;border:1px solid #B1F8D6;
    width:75%;
    border-top-right-radius: 5px;
}
.chat.a{
    border-top-right-radius: 0px;
    border-top-left-radius: 5px;
    background-color:#212528;
    margin-left:20%;
    box-shadow: 0 0 10px 1px #B1F8D6;
    border:none
}
.chat h3{color:white;font-size:1.5em; color:#B1F8D6}
.chat p{color:white;font-size:1em;color:#B1F8D6}

.bt{height:60px;position: fixed;bottom:1%;width:70%;transform: translate(-50%,-50%);left:50%;display: flex;}
.bt input{width:80%;font-size:1.2em;text-indent: 10px;border:none;height:100%;border:none;background: white}
.bt button{width:20%;height:100%;background: #D0527A;color:white;border:none;font-size:2em}

@media (max-width:1200px) {
    .box{width:80%;}
    .chat-area{width:80%}
    .bt input{width:70%;font-size:1.2em;text-indent: 10px;border:none;height:100%}
    .bt button{width:30%;}
}